Repository SERG-Delft/evosql, pull requests merged in 2018-06, with the labels that each got.

#36 Experiment Basic Setup
  coverage-experiment/build.gradle
  coverage-experiment/src/main/java/nl/tudelft/serg/evosql/experiment/BrewExecutor.java
  coverage-experiment/src/main/java/nl/tudelft/serg/evosql/experiment/QueryMutator.java
  coverage-experiment/src/main/java/nl/tudelft/serg/evosql/experiment/QueryReader.java
  coverage-experiment/src/main/java/nl/tudelft/serg/evosql/experiment/Runner.java
  coverage-experiment/src/main/java/nl/tudelft/serg/evosql/experiment/SchemaBuilder.java
  coverage-experiment/src/main/resources/sql/erpnext_queries.sql
  coverage-experiment/src/main/resources/sql/espocrm_queries.sql
  coverage-experiment/src/main/resources/sql/suitecrm_queries.sql
Labels: enhancement, sub: experiment

#37 Add a runner for existing data
  brew/src/main/java/nl/tudelft/serg/evosql/brew/db/ExistingDataRunner.java
  brew/src/test/java/nl/tudelft/serg/evosql/brew/db/ExistingDataRunnerTest.java
Labels: enhancement, sub: brew

#39 Use -1 as a default/error value
  brew/src/main/java/nl/tudelft/serg/evosql/brew/generator/junit/JUnitGenerator.java
  brew/src/test/resources/java/jUnitGenerator/JUnit4MediumTest.java
  brew/src/test/resources/java/jUnitGenerator/JUnit4SmallTest.java
  brew/src/test/resources/java/jUnitGenerator/JUnit5MediumTest.java
  brew/src/test/resources/java/jUnitGenerator/JUnit5SmallTest.java
Labels: enhancement
